.title-cards {
    margin-top: 24px;
}

.title-cards h1 {
    font-size: 28px;
}

.card {
    margin-top: 24px;
    margin-right: 14px;
}

.card-text  {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flex-container {
    display: flex;
}

.cards-container {
    max-width: 96%;
    margin: auto;

}



@media screen and (max-width: 768px) {
    .flex-container {
        display: block;
    }

    .cards {
        max-width: 100%;
    }

  }