.banner video {
    width: 100%;
    height: 600px;
    object-fit: cover;
}


.banner {
    opacity: 1;
}

.text-absolute {
    position: absolute;
    top: 150px;
     border-radius: 8px;
    left: 20px;
    right: 20px;
    width: 90%;

}

.text-absolute h1 {
    color: rgb(255, 255, 255);
    width: 68%;
    font-size: 36px;
    font-weight: 800;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 14px;
    margin-top: 14px;
}



@media screen and (max-width: 768px) {
    .text-absolute h1 {
       font-size: 18px;
        width: 100%;
        color: black;
     
    }

    .text-absolute {
        width: 100%;
      position: initial;
    }

    .banner video {
        width: 100%;
        height: auto;
    }



  }

